@import url(http://fonts.googleapis.com/css?family=Amatic+SC:400,700);

body {
  background-image: url("/images/space.jpg");
}

p {
  font-size: 400%;
  background-color: white;
  opacity: 0.6;
  font-family: 'Amatic SC', cursive;
}